
<div id="wrapper">
  <!-- 検索ボタン -->
  <div class="searchform">
    <%= search_form_for @q do |f| %>
      <div class="control-group">
        <div class="controls">
          <%= f.text_field :title_or_text_cont, placeholder: "商品名・キーワードで検索", class: "form_horizon form_style" %>
        </div>
      </div>
      <%= f.submit class: "form_horizon button_style" %>
    <% end %><br><br>
    <p>　Ex.「腹筋」「背筋」「おっぱい」</p>
  </div>

  <div id="content">
    <section>
      <h2 class="title"><span>2016年！最新トレーニンググッズランキング</span></h2>
      <ul class="post">
        <% @trains.each do |train| %>
          <li>
          <a><img width="30%" class="itemimage" src="<%= train.image %>" alt="Abhg pf3" href="trains/<%= train.id %>"></a>
            <h3><a data-method="get" href="trains/<%= train.id %>"><%= train.title %></a></h3>
            <p></p><p class="itemtext"><%= train.text %></p><p></p>
          </li>
        <% end %>
      </ul>
    </section>
    <!-- 
  <nav class="pagination">
        <span class="page current">
  1
</span>

        <span class="page">
  <a rel="next" href="/?page=2">2</a>
</span>

    <span class="next">
  <a rel="next" href="/?page=2">Next ›</a>
</span>

    <span class="last">
  <a href="/?page=2">Last »</a>
</span>

  </nav>
 -->

 <nav class="pagenation">
  <%= paginate @trains %>
 </nav>

  </div>
<!-- / content -->

<!-- sidebar -->
<aside id="sidebar">

<!-- スポンサードリンク -->

<a href="http://px.a8.net/svt/ejp?a8mat=2NKAZE+76ZOSA+3D3Q+61C2P" target="_blank">
<img border="0" width="300" height="120" alt="" src="http://www26.a8.net/svt/bgt?aid=160510874435&amp;wid=006&amp;eno=01&amp;mid=s00000015695001014000&amp;mc=1"></a>
<img border="0" width="1" height="1" src="http://www12.a8.net/0.gif?a8mat=2NKAZE+76ZOSA+3D3Q+61C2P" alt="">

<!-- スポンサードリンクおわり -->

<section class="Login">
    <h3><span>ログイン</span></h3>
      <div class="submit">
        <form class="new_user" id="new_user" action="/users/sign_in" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="z/uU4DckyQb5t0uAmiAf4VYaJM6VvfUoRvFkwt7d1NM6z8e+Lo5kK2Rn0JAeIVfhVJZRrD/pp85WdCfpCYgMHA==">
      <div class="field">
        <label for="user_メールアドレス">メールアドレス</label><br>
        <input autofocus="autofocus" type="email" value="" name="user[email]" id="user_email" class="form_size">
      </div>

      <div class="field">
        <label for="user_パスワード">パスワード</label><br>
        <input autocomplete="off" type="password" name="user[password]" id="user_password" class="form_size">
      </div>

    <div class="field">
      <label for="user_パスワードを記憶する">パスワードを記憶する</label>
    </div>
      <input name="user[remember_me]" type="hidden" value="0"><input type="checkbox" value="1" name="user[remember_me]" id="user_remember_me">

    <div class="actions">
    <input type="submit" name="commit" value="ログイン" class="button_style">
    </div>
</form>    </div>
</section>

      <section class="widget">
      <h3><span>カテゴリ</span></h3>
      <ul>
        <li><a href="trains/item">トレーニンググッズ</a></li>
        <li><a href="trains/item">サプリメント</a></li>
        <li><a href="trains/item">ダイエット食品</a></li>
        <li><a href="trains/item">がちむちアイテム</a></li>
        <li><a href="trains/item">ウェア</a></li>
        <li><a href="trains/item">あっはっは〜</a></li>
      </ul>
    </section>

    <section class="widgetInfo">
      <div class="newsTitle">
        <h3 class="title"><span>カテゴリ別人気ランキング</span></h3>
        <p><a href="trains/item">一覧</a>
      </p></div>
      <div class="post news">
        <p><a href="trains/item"><time>2012/11/30</time><span>環境への取り組み</span></a>
        </p><p><a href="trains/item"><time>2012/11/15</time><span>新サービスを開始</span></a>
        </p><p><a href="trains/item"><time>2012/11/02</time><span>リニューアル</span></a>
        </p><p><a href="trains/item"><time>2012/10/30</time><span>環境への取り組み</span></a>
        </p><p><a href="trains/item"><time>2012/09/13</time><span>新講座を開講しました</span></a>
      </p></div>
    </section>
    <% @ranking.each.with_index(1) do |train, i| %>
          <li data-cinema-id="346394">
            <a href="/trains/<%= train.id %>">
              <div class="box">
                <div class="box__cell w40 align-center">
                  <p class="label bgcolor-gray-lighter align-center">
                    <%= i %>
                  </p>
                </div>
                <div class="box__cell pl1em">
                  <p class="text-xsmall no-space">
                    <%= train.title %>
                  </p>
                  <img src="<%= train.image_url %>" alt="">
                </div>
              </div>
            </a>
          </li>
          <% end %>
  </aside>
</div>
<!-- / wrapper -->
