
  <!-- 検索ボタン -->
<section class="search">
<dl>
<h2 class="title"><dt>検索</dt></h2>
<dd class="post">
  <div class="searchform">
<!--     <form class="train_search" id="train_search" action="/trains" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
        <input placeholder="商品名・キーワードで検索" type="search" name="q[title_or_text_cont]" id="q_title_or_text_cont">
        <input type="submit" name="commit" value="Search">
    </form> -->
    <%= search_form_for @q do |f| %>
      <div class="control-group">
        <div class="controls">
          <%= f.text_field :title_or_text_cont, placeholder: "商品名・キーワードで検索", class: "form_horizon form_style" %>
        </div>
      </div>
      <%= f.submit class: "form_horizon button_style" %>
    <% end %>
  </div>
</dd>
</dl>
  </section>

  <div id="content">
    <section>
      <h2 class="title"><span>2016年！最新トレーニンググッズ</span></h2>
      <ul class="post">
        <% @trains.each do |train| %>
          <li>
            <img width="30%" class="itemimage" src="<%= train.image %>" alt="Abhg pf3">
            <h3><a data-method="get" href="trains/<%= train.id %>"><%= train.title %></a></h3>
            <p></p><p class="itemtext"><%= train.text %></p><p></p>
          </li>
        <% end %>
      </ul>
    </section>
    <!-- 
  <nav class="pagination">
        <span class="page current">
  1
</span>

        <span class="page">
  <a rel="next" href="/?page=2">2</a>
</span>

    <span class="next">
  <a rel="next" href="/?page=2">Next ›</a>
</span>

    <span class="last">
  <a href="/?page=2">Last »</a>
</span>

  </nav>
 -->

 <nav class="pagenation">
  <%= paginate @trains %>
 </nav>

  </div>
<!-- / content -->

