<div id="wrapper">
  <div id="content2">
    <section>
      <article class="content">
        <div class="post">
          <div class="content_post">
            <h2 class="itemtitle"><%= link_to (@train.title) , "/trains/#{@train.id}", method: :get %></h2>
            <%= image_tag (@train.image),:width => '50%',:class => "itemimage" %>
            <div class="point">
              <p>レビュー平均点数</p>
              <p>★★★☆☆(3点)</p>
            </div><br><br><br><br>
            <%= simple_format(@train.text, :class => "itemtext")%>
          </div>
          <table class="statsDay">
            <tbody>
              <tr>
                <th>商品名</th>
                <td><%= link_to (@train.title) , "trains/#{@train.id}", method: :get %></td>
              </tr>
              <tr>
                <th>価格</th>
                <td>¥1,000,000</td>
              </tr>
              <tr>
                <th>販売ショップ</th>
                <td>amazon/楽天/ポンパレモール</td>
              </tr>
            </tbody>
          </table>
          <div class="item_links">
            <%= link_to "公式サイトへ" ,(@train.link1) , method: :get ,class: 'itemlink1'%>
            <a href="" class="itemlink2">Amazon.com<a>
            <a href="" class="itemlink3">ポンパレモール<a>
            <a href="" class="itemlink4">楽  天<a>
          </div>

          <h3>商品レビュー</h3>
          <div class="reviews">
            <%= render @reviews %>
          </div>
          <% if user_signed_in? %>
              <%= render :partial => "reviews/form" %>
          <% else %>
            <%= link_to ">> 新規登録してレビューを書く", new_user_registration_path, class: 'regi' %>
            <br><br>
            <%= link_to ">> ログインしてレビューを書く", new_user_session_path, class: 'log' %>
          <% end %>
        </div>
      </article>
    </section>
  </div>
<!-- sidebar -->
<aside id="sidebar2">

<!-- スポンサードリンク -->

<a href="http://px.a8.net/svt/ejp?a8mat=2NKAZE+76ZOSA+3D3Q+61C2P" target="_blank">
<img border="0" width="300" height="120" alt="" src="http://www26.a8.net/svt/bgt?aid=160510874435&amp;wid=006&amp;eno=01&amp;mid=s00000015695001014000&amp;mc=1"></a>
<img border="0" width="1" height="1" src="http://www12.a8.net/0.gif?a8mat=2NKAZE+76ZOSA+3D3Q+61C2P" alt="">

<!-- スポンサードリンクおわり -->
<% if user_signed_in? %>
<% else %>
<section class="Login">
    <h3><span>ログイン</span></h3>
      <div class="submit">
        <form class="new_user" id="new_user" action="/users/sign_in" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="z/uU4DckyQb5t0uAmiAf4VYaJM6VvfUoRvFkwt7d1NM6z8e+Lo5kK2Rn0JAeIVfhVJZRrD/pp85WdCfpCYgMHA==">
      <div class="field">
        <label for="user_メールアドレス">メールアドレス</label><br>
        <input autofocus="autofocus" type="email" value="" name="user[email]" id="user_email" class="form_size">
      </div>

      <div class="field">
        <label for="user_パスワード">パスワード</label><br>
        <input autocomplete="off" type="password" name="user[password]" id="user_password" class="form_size">
      </div>

    <div class="field">
      <label for="user_パスワードを記憶する">パスワードを記憶する</label>
    </div>
      <input name="user[remember_me]" type="hidden" value="0"><input type="checkbox" value="1" name="user[remember_me]" id="user_remember_me">

    <div class="actions">
    <input type="submit" name="commit" value="ログイン" class="button_style">
    </div>
</form>    </div>
</section>
<% end %>
      <section class="widget">
      <h3><span>月間レビュー数ランキング</span></h3>
      <div class="ranking">
        <% @ranking.each.with_index(1) do |train, i| %>
            <a href="/trains/<%= train.id %>">
              <div class="box">
                <div class="box__cell w40 align-center">
                  <p class="label bgcolor-gray-lighter align-center">
                  <p class="rank"><%= i %></p>
                  </p>
                </div>
                <div class="box__cell pl1em">
                  <p class="ranktitle">
                    <%= train.title %>
                  </p>
                  <img src="<%= train.image %>" alt="" class="rankImage">
                </div>
              </div>
            </a>
        <% end %>
      </div>
    </section>
  </aside>
</div>
