<%= form_for [@train, @review], remote: true do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>
      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :"タイトル" %><br>
    <%= f.text_field :title, class: "comment review_form" %>
  </div>
  <div class="field">
    <%= f.label :"点数(1点〜10点)" %><br>
    <%= f.number_field :rate, value: 1, in: 1...11, class: "review_form" %>
  </div>
  <div class="field">
    <%= f.label :"レビュー内容" %><br>
    <%= f.text_area :review, class: "comment review_form" %>
  </div>
  <div class="actions">
    <%= f.submit "レビューを投稿する", class: "button_style" %>
  </div>
<% end %>
