<div class="review-header clearfix">
  <h4><%= review.title %></h4>
  <div class="review-meta">
    <span class="review-point">
      点数</span>
      <%= image_tag "#{review.rate}0.png", css: "width: 100%" %><%= review.rate %>点
    <span class="review-user"><%= review.user.nickname %></span>
  </div>
</div>
<div class="review-comment">
  <%= simple_format(review.review, :class => "itemtext") %>
</div>
<hr class="hr-style">
